
  
  .App{
    width: 100%;
    height: 100vh;
  }
  
  /* .cover {
    position: relative;
  } */
  
  .avatar {
    height: 360px;
    overflow: hidden;
    z-index: 1;
  }
  .name {
    display: flex;
    font-size: 20px;
    position: relative;
    bottom: -30px;
    left: -320px;
    justify-content: center;
    
  }
  
  .avatar img {
    margin-top: -10px;
    margin-right:10px;
    margin-left:10px;


    
  }
  .photo {
    position: absolute;
    left: 20%;
    bottom: 0px;
    right: 0px;
    height: 10px;
    z-index: 2;
    top: 35%;
  }
  
  .avatar2 {
    width: 180px;
    height: 160px;
    border: 5px solid black;
    border-radius: 3px;
    margin-top: 80px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .avatar2 img {
    width:100%;
  }
  
  .main {
    display: grid;
    grid-template-columns: 40% 60%;
    
  }
  .card {
    position: relative;
    width: 50%;
    height: 100px;
    top:60px;
    left: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    overflow: hidden;
    text-align: center;
    background-color: honeydew;
  }
  
  .description{
    padding-left: 20px;
    text-align: left;

  }
 
  
  .input-container {
    width: 70%;
    font-size: 20px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin: 10px;
    
  }
  
  .button-class {
    margin: 2px;
    padding: 5px;
    background-color: blue;
    color: white;
  
  }
  .image-upload {
    position: relative;
    top:0px;
    left: -200px;
  }
  .comment-card {
    position: relative;
    margin-top: 20px;
    padding: 25px 25px;
    width: 80%;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    margin-bottom: 15px;
    background-color: honeydew;
  }
  
  .faicons{
    position: absolute;
    right:10px;
    cursor: pointer;
    color: red;
  }
 